<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog - Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    {{!--
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link rel="icon" href="/img/apple-business-clipboard-2371737.jpg" type="image/gif" sizes="16x16">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <style>
        .text-anim {
            position: relative;
            font-weight: 200;
            font-size: 4em;
        }

        .text-anim .text-wrapper {
            position: relative;
            display: inline-block;
            padding-top: 0.2em;
            padding-right: 0.05em;
            padding-bottom: 0.1em;
            overflow: hidden;
        }

        .text-anim .letter {
            transform-origin: 0% 100%;
            display: inline-block;
            line-height: 1em;
        }

        .text-anim2 {
            position: relative;
            font-weight: 200;
            font-size: 2em;
        }

        .text-anim2 .text-wrapper2 {
            position: relative;
            display: inline-block;

            overflow: hidden;
        }

        .text-anim2 .letter2 {
            transform-origin: 0% 100%;
            display: inline-block;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            {{#if user.image}}
            <a class="navbar-brand" href="/"><img src="{{user.image}}" width="30px" height="10px"
                    class="img-fluid rounded-circle"></a>
            {{else}}
            <a class="navbar-brand" href="/" style="font-weight: 200;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;color:#76D7C4;" data-aos="fade-right"
                data-aos-duration="1000" data-aos-delay="500">Welcome.</a>
            {{/if}}
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500"
                            data-aos-offset='100' id="home_header">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post/new" data-aos="fade-down" data-aos-duration="1000"
                            data-aos-delay="600" data-aos-offset='200' id="new_post_header">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link badge badge-default" href="/user/logout" data-aos="fade-down"
                            data-aos-duration="1000" data-aos-delay="700" data-aos-offset='300'
                            id="logout_header">Logout <span class="spinner-grow spinner-grow-sm"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/background-border-bright-630754.jpg');
    background-size:cover;background-attachment: fixed;background-position: center center;">
        <div class="overlay"></div>
        <div class="container-fluid" id="masthead_container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1 class="text-anim">
                            <span class="text-wrapper">
                                <span class="letters">Hi!</span>
                            </span>
                        </h1>
                        <span class="subheading">
                            <h3 class="text-anim2">
                                <span class="text-wrapper2">
                                    <span class="letters2">Welcome to the blog</span>
                                </span>
                            </h3>
                            <span class="badge badge-info" data-aos="fade-up" data-aos-duration="1000"
                                data-aos-delay="2500">{{user.username}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 mx-auto">
                <div class="card-columns">
                    {{#each data}}
                    {{#if this.username}}
                    <div class="card" style="position:relative;" data-aos="zoom-in" data-aos-duration="1000"
                        data-aos-delay="900">
                        <img src="{{this.image}}" class="card-img-top" alt="Post"
                            style="box-shadow: 0px 0px 5px 5px lightgrey;">
                        <svg class="card__svg" viewBox="0 0 800 500" style="position:absolute;opacity:0.5;top:0;">
                            <path class="card__line"
                                d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                                stroke="pink" stroke-width="7" fill="transparent" stroke-dashoffset="1000" />
                        </svg>
                        <div class="card-body">
                            <div class="card-title" style="font-weight:bold;">
                                {{this.title}}
                            </div>
                            <hr>
                            <div class="card-text" style="text-align:center;">
                                {{this.description}}
                                <hr>
                                Posted by <code>{{this.username}}</code> on {{this.createdAt}}
                                <br>
                                <a href="post/{{this._id}}" class="stretched-link btn btn-pink btn-sm"
                                    style="margin-top:30px;">Post</a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item" id="twitter_logo">
                            <a href="#" style="color:#00acee;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item" id="facebook_logo">
                            <a href="#" style="color:#3b5998;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item" id="github_logo">
                            <a href="#" style="color:#211f1f;">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <script>
        var time = moment().format('YYYY');
        var data = `Copyright &copy; Our Blog ${time}`;
        document.getElementsByClassName('copyright')[0].innerHTML = data;
    </script>
    <!-- Custom scripts for this template -->
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            once: true
        });
    </script>
    <script src="/animations/dynamicPages/dynamixIndex.js"></script>
    <script src="js/clean-blog.min.js"></script>
</body>

</html>